.container{
    text-align: center;
    margin-top: 36px;
}
table{
    margin:auto
}
input{
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    font-size: medium ;
    height: 40px;
    width: 200px;
}
button{
    font-size:23px;
    width: 50px;
    height: 45px;
    background-color: beige ;
    border-radius: 5px;
}
.calculator{
    display: inline-block;
    padding: 20px;
    background-color: blue;
}